//@import '~font-awesome/css/font-awesome.css';
@import "./bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:100,300,400");

html,
body,
#root {
  border				: none;
  padding				: 0;
  height:100%;
  width: auto;
  background-color: theme-color("soft") ;
}


body {
  border				: none;
  padding				: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width:0px ;
  border-bottom-style: solid;
  color: #fff;
  height:140px;
  background-color: theme-color("primary");
  padding-left: 5%;
}
.Select{
  position: absolute;
  top: 5px;
  right: 5%;
}
header li {
  display: inline;
  list-style-type: none;
  width:20%
}
header li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-left: 2em;
  padding-right: 3em;
  text-decoration: none;
  color:#fff
  
}
header li a:hover {
  
  text-decoration: underline;
}
.roundedImage{
  overflow:hidden;
    border-radius:100px;
    width:120px;
    height:120px;
  background: url(../assets/profilepicture.jpg) no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 3px 3px 5px rgb(14, 13, 13);
      -webkit-box-shadow: 3px 3px 5px rgb(14, 13, 13);
      -khtml-box-shadow: 3px 3px 5px rgb(14, 13, 13);
}
.position-image{
  width:100%;
  display: flex;
  justify-content: center;
}
.cvImage{
  overflow:hidden;
    border-radius:100px;
    border-style: solid;
    border-color: whitesmoke;
    width:200px;
    height:200px;
  background: url(../assets/cvpicture.jpg) no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.Home{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  height:100%;
  color: aliceblue; 
  font-style: normal;
  line-height: 2em;
  
  }
  .SiteDetails{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: aliceblue; 
    font-style: normal;
    line-height: 2em;
    background-color:rgb(2, 2, 39) ;
    }

.Layout {
background-color:rgb(2, 2, 39);
height:100%;
}
.Cv{
  font-family: 'Roboto', sans-serif;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5%;
  background-color:white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:210mm;
  height:297mm;
  color: theme-color("dark")
  //border:2%;
}
.Container-sm{
 display: none;
}
.Container-left{
  background-color: rgb(2, 2, 39);
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: whitesmoke;
  line-height: 22px;
  padding-top: 2%;
  
 
}

.Container-right{
  background-color: white;
  width:68%;
  box-shadow: 15px 15px 5px #ccc;
      -moz-box-shadow: 10px 15px 5px #ccc;
      -webkit-box-shadow: 10px 15px 5px #ccc;
      -khtml-box-shadow: 10px 15px 5px#ccc;
  padding-bottom: 10%;
}
.Container-right-top{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 2, 39);
  height:10%;
  color: whitesmoke;
}

.backgroung-cv-page{
  width: 100%;
  height:100%;
  background-color: theme-color("soft") ;
}
.categories{
  margin-top: 20px;
}
.Container-right-bottom{
  padding-right: 10px;
}

.title-categories{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight:900;
  font-size:19px;
}
.heading{
  margin-bottom: 15px;
}
.heading-primary{
  color:theme-color("primary");
  font-size: 17px;
  margin:0;
}
.heading-secondary{
  font-size: 17px;
  font-weight:bold;
  margin:0;
}
.heading-description{
  font-size: 15px;
}
.heading-optional{
  font-size: 13px;
  font-style: italic;
  color:theme-color("secondary");
}
.heading-services{
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title-services{
  color: black;
  font-weight:bold;
  margin-bottom: 6px;
}
.description-interline{
  margin-bottom: 6px;
}

.details-categories{
  padding-left: 20px;
  padding-right: 20px;
}
.detail-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight:bold;
  font-size: 20px;
  margin-top:25px;
}
.about-content{
  font-weight:normal;
  font-size: 14px;
}
.social-content{
  font-weight:normal;
  font-size: 12px;
  line-height: 30px;
}
.technologies-content{
display: flex;
flex-wrap: wrap;
font-size: 14px;
}
.item-Technologie{
  width:50%;
  
}
.hobbies-content{
  width:50%;
  display:flex;
  flex-direction: column;
  //align-items: center;
  margin-top: 5px;
  font-size: 14px;
}
.svg-black{
  width:28px;
  height:28px;
  margin-right: 10px;
  margin-bottom: 0;
}
.svg-white{
  fill:whitesmoke;
  width:28px;
  height:28px;
  margin-right: 10px;
  margin-bottom: 0;
}
.svg-white-small{
  fill:whitesmoke;
  width:15px;
  height:15px;
  margin-right: 5px;
  margin-bottom: 0;
}
.AppElments{
  height:100%;
  padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .Home {
  font-size: 2em;
  padding-top: 15%;
}
header li a {
  margin-left: 0;
  padding-right: 2em;
  font-size: 1.5em;
}
}

@media screen and (max-width: 992px) {
  .Home  {
  font-size: 1.5em;
  padding-top: 15%;
}
header li a {
  margin-left: 0;
  padding-right: 2em;
  font-size: 1.5em;
}

}

@media screen and (max-width: 700px){
  .Home {
  justify-content: space-evenly;
    font-size: 1em;
    padding-top: 0;
    height:60%

}
  button{
    width:100%;
  }
  .header {
    height:130px;
  }
  header li a {
    margin-left: 0;
    padding-right: 2em;
    font-size: 1em;
  }
  .roundedImage{
    border-radius:120px;
    width:110px;
    height:110px;

  }
  .Cv{
    flex-direction: column;
    margin-top: 0;
    width:auto;
    align-items: flex-start;
  }
  .Container-right{
    align-items: flex-start;
    width:auto;
    padding:5%;
    box-shadow: none;
  }
  .Container-right-top{
    display: none;
  }
  .Container-left{
    width:auto;
    padding:5%;
    margin-top: 0;
  }
  
  .Container-sm{
    display:contents;
    width:auto;
    height:20%;
    color:whitesmoke;
    text-align: center;
    margin-bottom: 5%;

  }
  h1{
    font-size: 2em;
  }
  h3{
    font-size: 1.5em;
  }
}
